<app-modal
  modalTitle="About Wordal"
  tagline="The who, the what, and the why."
  label="About Wordal Confirmation Modal"
  (close)="close()"
>
  <div class="about-container">
    <ul>
      <li class="about-item">
        <span class="about-label">Developer:</span>
        <span class="about-desc">
          <a
            class="bio-link"
            href="https://linkedin.com/in/chris-allard"
            rel="noopener, noreferrer"
            target="_blank"
            title="View my LinkedIn profile."
            >Chris Allard
          </a>
        </span>
      </li>
      <li class="about-item">
        <span class="about-label">Technology:</span>
        <span class="about-desc">
          Angular, SCSS, AWS (S3, Cloudfront, Route53), Local Storage, Google
          (Fonts, Icons, Analytics)
        </span>
      </li>
    </ul>
  </div>
</app-modal>
