<app-modal
  label="Settngs Modal"
  modalTitle="Settings"
  tagline=""
  (close)="close()"
>
  <div class="settings-container">
    <div class="setting">
      <div>
        <div class="setting-title">Hard Mode</div>
        <div class="setting-desc">
          Any hints discovered must be used in future guesses.
        </div>
      </div>
      <button
        aria-label="Hard Mode"
        class="btn-toggle"
        role="switch"
        [attr.aria-checked]="settings.hardMode"
        (click)="toggleSetting(settingTypes.HardMode, !settings.hardMode)"
      >
        <span
          class="material-symbols-outlined setting-icon"
          [class]="{
            'setting-enabled': settings.hardMode,
            'setting-disabled': !settings.hardMode
          }"
        >
          {{ settings.hardMode ? "toggle_on" : "toggle_off" }}
        </span>
      </button>
    </div>
  </div>
</app-modal>
