@import "vars";

.settings-container {
  padding: 20px;
}

.setting {
  align-items: center;
  display: flex;
  justify-content: space-between;
}

.setting-desc {
  font-size: 14px;
  color: $color-grey-600;
}

.setting-icon {
  font-size: 44px;
  transition: color 0.25s;
}

.setting:not(:first-child) {
  border-top: 1px dotted $color-grey-300;
  margin-top: 20px;
  padding-top: 20px;
}

.setting-enabled {
  color: $color-green;
}

.setting-disabled {
  color: $color-grey-500;
}

.btn-toggle {
  background: none;
  border: none;
  line-height: 0;
}

.feedback-email {
  color: $color-grey-900;
}
