@import "vars";

.modal-content {
  background-color: $color-white;
  border-radius: $border-radius;
  box-shadow: none;
  display: inline-block;
  margin: 20px auto;
  max-width: $container-max-width;
  overflow: hidden;
  position: relative;
  text-align: left;
  transition: opacity 750ms ease-out,
    top 750ms cubic-bezier(0.28, 0.32, 0.32, 1.28),
    box-shadow 1s ease-in-out 200ms;
  width: 100%;
}

.title-container {
  padding: 0 20px 20px;
  text-align: center;
}

.title {
  font-size: 24px;
}

.tagline {
  font-size: 18px;
}
