@import "vars";
@import "mixins";

.key {
  width: 100%;
  @include btn;
  height: 5vh;

  &.active,
  &:active:not(.submit-btn) {
    // !important required to override Angular animations inline style
    background: $color-grey-200 !important;
  }
}

.special-btn {
  background: $color-grey-400;
  color: $color-black;
}

.submit-btn {
  @include btn-action;
}
