<app-rotation-lock></app-rotation-lock>

<app-side-nav [isOpen]="isNavOpen" (closed)="isNavOpen = false"></app-side-nav>

<div id="container" [confettiCannon]="hasWonGame && haveTilesBounced">
  <div
    class="new-version-wrapper"
    aria-live="assertive"
    [class]="{
      reveal: isNewVersionAvailable,
      retract: isVersionUpdated
    }"
    *ngIf="isNewVersionAvailable || isVersionUpdated"
  >
    <div class="new-version-snack" *ngIf="isNewVersionAvailable">
      <span>New Version Available</span>
      <button class="btn-update" type="button" (click)="reloadWin()">
        Update Now
      </button>
    </div>

    <div class="new-version-snack" *ngIf="isVersionUpdated">
      New Version Installed
      <span class="material-symbols-outlined celebrate-icon">celebration</span>
    </div>
  </div>

  <div class="header">
    <div class="nav">
      <button
        aria-label="Navigation menu"
        class="btn-open-menu"
        type="button"
        (click)="openNav()"
      >
        <span class="material-symbols-outlined menu-icon">menu</span>
      </button>
    </div>

    <h1 class="title">
      <span class="glow">Wordal</span>
    </h1>

    <div class="settings">
      <button
        aria-label="Settings menu"
        class="btn-open-menu"
        type="button"
        (click)="openSettings()"
      >
        <span class="material-symbols-outlined settings-icon">settings</span>
      </button>
    </div>
  </div>

  <div class="inner-container">
    <div
      class="board"
      [@boardClear]="shouldClearBoard"
      (@boardClear.done)="onBoardCleared($event)"
    >
      <ng-container
        *ngFor="let round of rounds; trackBy: roundTrackBy; let i = index"
      >
        <div
          class="row"
          role="group"
          [attr.aria-label]="'Row ' + (i + 1)"
          [@headShake]="round.isInvalidWord"
          (@headShake.done)="round.isInvalidWord = false"
          (@roundComplete.start)="isBoardLocked = true"
          (@roundComplete.done)="onRoundCompleteAnim($event, i)"
          [@roundComplete]="
            round.isRoundComplete
              ? round.isWinningRound
                ? roundFinish.Solved
                : roundFinish.Completed
              : ''
          "
        >
          <ng-container
            *ngFor="
              let guess of round.guesses;
              trackBy: tileTrackBy;
              let j = index
            "
          >
            <app-tile
              (bounced)="haveTilesBounced = true"
              [guess]="guess"
              [letter]="round.letters[j]"
              [shouldBounce]="round.isWinningRound"
              [shouldFlip]="round.isRoundComplete"
            ></app-tile>
          </ng-container>
        </div>
      </ng-container>
      <div *ngIf="settings?.hardMode" class="indicator" [@indicator]>
        <button
          aria-label="Settings menu"
          class="hard-mode-indicator"
          title="View Settings"
          (click)="openSettings()"
        >
          Hard Mode
        </button>
      </div>
    </div>

    <app-keyboard
      (keyPress)="handleKeyPress($event)"
      [isBoardLocked]="isBoardLocked"
    ></app-keyboard>
  </div>

  <div id="modal-container"></div>
</div>
