<div id="rotation-lock">
  <svg
    class="rotate-icon"
    xmlns="http://www.w3.org/2000/svg"
    xml:space="preserve"
    fill="currentColor"
    viewBox="0 0 206.519 206.519"
  >
    <path
      d="M202.621 105.207H101.31V3.897A3.896 3.896 0 0 0 97.414 0H3.897A3.896 3.896 0 0 0 0 3.897V136.38a3.896 3.896 0 0 0 3.897 3.897h62.345v62.345a3.896 3.896 0 0 0 3.897 3.897h132.483a3.896 3.896 0 0 0 3.897-3.897v-93.517a3.899 3.899 0 0 0-3.898-3.898zm-132.483 0a3.896 3.896 0 0 0-3.897 3.897v23.379H7.793V7.793h85.724v97.414H70.138zm3.896 93.517V113H198.723v85.724H74.034zM136.379 31.172a3.896 3.896 0 0 0 3.897 3.897c19.338 0 35.069 15.733 35.069 35.069 0 2.152 1.743 3.897 3.897 3.897s3.897-1.745 3.897-3.897c0-23.634-19.228-42.862-42.862-42.862a3.896 3.896 0 0 0-3.898 3.896z"
    />
    <path
      d="M137.521 50.459c.761.761 1.758 1.142 2.755 1.142s1.994-.381 2.755-1.142a3.895 3.895 0 0 0 0-5.51l-13.775-13.777 13.775-13.777a3.895 3.895 0 1 0-5.51-5.51l-16.53 16.532a3.895 3.895 0 0 0 0 5.51l16.53 16.532zM165.466 67.385a3.895 3.895 0 1 0-5.51 5.51l16.53 16.532a3.893 3.893 0 0 0 5.51 0l16.53-16.532a3.895 3.895 0 1 0-5.51-5.51l-13.774 13.777-13.776-13.777z"
    />
  </svg>
  <p>Please rotate your device to play.</p>
</div>

<app-side-nav [isOpen]="isNavOpen" (closed)="isNavOpen = false"></app-side-nav>

<div id="container" [confettiCannon]="hasWonGame && haveTilesBounced">
  <div
    class="new-version-wrapper"
    aria-live="assertive"
    [class]="{
      reveal: isNewVersionAvailable,
      retract: isVersionUpdated
    }"
    *ngIf="isNewVersionAvailable || isVersionUpdated"
  >
    <div class="new-version-snack" *ngIf="isNewVersionAvailable">
      <span>New Version Available</span>
      <button class="btn-update" type="button" (click)="reload()">
        Update Now
      </button>
    </div>

    <div class="new-version-snack" *ngIf="isVersionUpdated">
      New Version Installed
      <span class="material-symbols-outlined celebrate-icon">celebration</span>
    </div>
  </div>

  <div class="header">
    <div class="nav">
      <button
        aria-label="Navigation menu."
        class="btn-nav-open"
        type="button"
        (click)="openNav()"
      >
        <span class="material-symbols-outlined menu-icon">menu</span>
      </button>
    </div>

    <h1 class="title">
      <span class="glow">Wordal</span>
    </h1>
  </div>

  <div class="inner-container">
    <div
      class="board"
      [@boardClear]="shouldClearBoard"
      (@boardClear.done)="onBoardCleared($event)"
    >
      <ng-container
        *ngFor="let round of rounds; trackBy: roundTrackBy; let i = index"
      >
        <div
          class="row"
          role="group"
          [attr.aria-label]="'Row ' + (i + 1)"
          [@headShake]="round.isInvalidWord"
          (@headShake.done)="round.isInvalidWord = false"
          (@roundComplete.start)="isBoardLocked = true"
          (@roundComplete.done)="onRoundCompleteAnim($event, i)"
          [@roundComplete]="
            round.isRoundComplete
              ? round.isWinningRound
                ? roundFinish.Solved
                : roundFinish.Completed
              : ''
          "
        >
          <ng-container
            *ngFor="
              let guess of round.guesses;
              trackBy: tileTrackBy;
              let j = index
            "
          >
            <app-tile
              (bounced)="haveTilesBounced = true"
              [guess]="guess"
              [letter]="round.letters[j]"
              [shouldBounce]="round.isWinningRound"
              [shouldFlip]="round.isRoundComplete"
            ></app-tile>
          </ng-container>
        </div>
      </ng-container>
    </div>
    <app-keyboard
      (keyPress)="handleKeyPress($event)"
      [isBoardLocked]="isBoardLocked"
    ></app-keyboard>
  </div>

  <div id="modal-container"></div>
</div>
