@import "vars";

.new-version-wrapper {
  align-items: center;
  background: $color-black;
  box-shadow: -1px 5px 10px 0 rgba($color-black, 75%);
  color: $color-white;
  display: flex;
  justify-content: center;
  padding: 13px 0;
  position: absolute;
  top: 0;
  visibility: hidden;
  width: 100%;
  z-index: 100;
}

.reveal {
  animation: slideInAndDown 0.5s 1s forwards;
  .new-version-snack {
    animation: fadeInDown 0.5s 1.5s forwards;
  }
}

.retract {
  animation: slideInAndDown 0.5s forwards, slideOut 0.5s 2.75s forwards;
  .new-version-snack {
    animation: fadeInDown 0.5s 0.5s forwards, fadeOutUp 0.5s 2.5s forwards;
  }
}

.new-version-snack {
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
}

.celebrate-icon {
  color: $color-orange;
  margin: -7px 0 0 5px;
}

.btn-update {
  background-color: $color-red;
  border: none;
  color: $color-white;
  border-radius: $border-radius;
  padding: 7px;
  margin-left: 20px;
}

#container {
  align-items: center;
  display: none;
  flex-direction: column;
  height: 100%;

  @media only screen and (orientation: portrait) {
    display: flex;
  }

  @media only screen and (min-device-width: $rotation-lock-width) {
    display: flex;
  }
}

.header {
  align-items: center;
  border-bottom: 1px dotted $color-grey-200;
  display: flex;
  margin-bottom: 3vh;
  width: 100%;
}

.nav {
  margin-left: 20px;
}

.settings {
  margin-right: 20px;
}

.btn-open-menu {
  background: none;
  border-radius: $border-radius;
  border: none;
  color: $color-white;
}

.title {
  color: $color-white;
  flex: 1;
  font-family: $brand-font-family;
  font-size: 6vh;
  text-align: center;

  .glow {
    text-shadow: $color-light-blue 0 0 16px;
  }
}

.inner-container {
  display: flex;
  flex-direction: column;
  flex: 1;
  width: 100%;
}

.board {
  align-items: center;
  display: flex;
  flex-direction: column;
  flex: 1;
}

.row {
  display: flex;
}

.indicator {
  display: flex;
  align-items: center;
  flex: 1;
  text-align: center;
}

.hard-mode-indicator {
  animation: flipInX 1.75s;
  border-bottom: 1px dotted $color-grey-500;
  border-top: 1px dotted $color-grey-500;
  color: $color-light-blue;
  display: inline-block;
  font-size: 14px;
  font-weight: bold;
  letter-spacing: 2px;
  padding: 8px 4px;
  text-transform: uppercase;

  @media screen and (max-width: $xs-screen-width) {
    font-size: 10px;
    padding: 6px 3px;
  }
}

::ng-deep {
  .toast-container {
    z-index: $toastr-z-index;
  }

  .toasty {
    border-radius: $border-radius;
    padding: 10px 40px;
  }

  .toasty,
  .toasty-title,
  .toablandsty-message {
    background: $color-black;
    color: $color-white;
    white-space: nowrap;
  }
}
