@import "vars";

$transition-delay: 0.25s;

#rotation-lock {
  color: #fff;
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  font-size: 18px;

  @media only screen and (orientation: landscape) {
    display: flex;
  }

  .rotate-icon {
    width: 100px;
    margin-bottom: 40px;
  }
}

#container {
  height: 100%;
  display: none;
  flex-direction: column;
  align-items: center;

  @media only screen and (orientation: portrait) {
    display: flex;
  }

  @media (max-width: $xs-screen-width) {
    margin-top: 20px;
  }
}

h1 {
  font-family: "Seymour One", sans-serif;
  font-size: 60px;
  text-align: center;
  margin: 60px 0 0 0;

  @media (max-width: $screen-max-width) {
    font-size: 40px;
    margin-top: 20px;
  }

  @media (max-width: $xs-screen-width) {
    font-size: 24px;
  }

  .w {
    color: $tile-correct;
  }

  .o {
    color: #c0d8e0;
  }

  .r {
    color: #fff;
  }

  .d {
    color: $tile-partially-correct;
  }

  .a {
    color: $tile-incorrect;
  }
  .l {
    color: #ffc4eb;
  }
}

.board {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.row {
  display: flex;

  &.incomplete,
  &.word-invalid {
    animation: shakeX 1s;
  }
}

.flip-tile {
  background-color: transparent;
  height: $tile-height;
  width: $tile-width;
  perspective: 1000px;
  border: 6px solid transparent;
  transition: border;

  @media (max-width: $screen-max-width) {
    height: $sm-tile-height;
    width: $sm-tile-width;
    border-width: 3px;
    margin: 0 2px;
  }

  @media (max-width: $xs-screen-width) {
    height: $xs-tile-height;
    width: $xs-tile-width;
    border-width: 5px;
  }

  &.active {
    border-color: $tile-border;
    transition-duration: 0.25s;
    animation: borderPulsate 2s 4s infinite;

    // allow cards to flip before highlighting the next round
    &.delay-trans {
      transition-delay: 1s;
    }
  }
}

.flip-tile-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform;
  transform-style: preserve-3d;
}

.flip-tile-front,
.flip-tile-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}

.flip-tile-front {
  background: $tile-bkg;
  color: $letter-full-checked;
  transition: color $transition-delay;

  .guessed {
    .users-guess {
      color: $letter-full-unchecked;
      animation: zoomIn $transition-delay;
    }
  }
}

.flip-tile-back {
  transform: rotateX(180deg);
}

.letter {
  height: 100%;
  width: 100%;
  font-size: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  align-content: center;
  transform-origin: center bottom;

  @media (max-width: $screen-max-width) {
    font-size: 28px;
  }

  @media (max-width: $xs-screen-width) {
    font-size: 24px;
  }
}

.round-over {
  .flip-tile-back {
    .letter {
      color: $letter-full-checked;

      &.incorrect {
        background: $tile-incorrect;
      }

      &.almost {
        background: $tile-partially-correct;
      }

      &.correct {
        background: $tile-correct;
      }
    }
  }
}

.controls {
  opacity: 0;
  margin-top: 20px;
  animation: jackInTheBox 0.5s forwards;
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn-new-game {
  background: $btn-bg;
  color: #fff;
  border-radius: 8px;
  padding: 7px 28px;
  border: 1px transparent;
  font-size: 24px;
  animation: delayedTada 10s 10s infinite;
  transition: background 0.25s;
  cursor: pointer;

  @media (max-width: $screen-max-width) {
    font-size: 20px;
  }

  &:hover {
    background: $tile-correct;
  }
}

.keyboard {
  margin-top: 20px;
}
