<div id="rotation-lock">
  <svg
    class="rotate-icon"
    xmlns="http://www.w3.org/2000/svg"
    xml:space="preserve"
    fill="currentColor"
    viewBox="0 0 206.519 206.519"
  >
    <path
      d="M202.621 105.207H101.31V3.897A3.896 3.896 0 0 0 97.414 0H3.897A3.896 3.896 0 0 0 0 3.897V136.38a3.896 3.896 0 0 0 3.897 3.897h62.345v62.345a3.896 3.896 0 0 0 3.897 3.897h132.483a3.896 3.896 0 0 0 3.897-3.897v-93.517a3.899 3.899 0 0 0-3.898-3.898zm-132.483 0a3.896 3.896 0 0 0-3.897 3.897v23.379H7.793V7.793h85.724v97.414H70.138zm3.896 93.517V113H198.723v85.724H74.034zM136.379 31.172a3.896 3.896 0 0 0 3.897 3.897c19.338 0 35.069 15.733 35.069 35.069 0 2.152 1.743 3.897 3.897 3.897s3.897-1.745 3.897-3.897c0-23.634-19.228-42.862-42.862-42.862a3.896 3.896 0 0 0-3.898 3.896z"
    />
    <path
      d="M137.521 50.459c.761.761 1.758 1.142 2.755 1.142s1.994-.381 2.755-1.142a3.895 3.895 0 0 0 0-5.51l-13.775-13.777 13.775-13.777a3.895 3.895 0 1 0-5.51-5.51l-16.53 16.532a3.895 3.895 0 0 0 0 5.51l16.53 16.532zM165.466 67.385a3.895 3.895 0 1 0-5.51 5.51l16.53 16.532a3.893 3.893 0 0 0 5.51 0l16.53-16.532a3.895 3.895 0 1 0-5.51-5.51l-13.774 13.777-13.776-13.777z"
    />
  </svg>
  <p>Please rotate your device to play.</p>
</div>
<div id="container">
  <h1>
    <span class="w">W</span>
    <span class="o">O</span>
    <span class="r">R</span>
    <span class="d">D</span>
    <!-- <img
    src="/assets/angular.png"
    width="40px"
    alt="Angular Icon"
    aria-hidden="true"
  /> -->
    <span class="a">A</span>
    <span class="l">L</span>
  </h1>

  <div class="board">
    <ng-container *ngFor="let round of game; let i = index">
      <div
        class="row"
        role="group"
        [@roundComplete]="
          round.isRoundComplete
            ? round.isRoundComplete && round.isPuzzleSolved
              ? 'solved'
              : 'completed'
            : ''
        "
        [attr.arial-label]="'Row ' + (i + 1)"
        [class]="{
          'word-invalid': round.isWordInvalid,
          'round-over': round.isRoundComplete
        }"
      >
        <ng-container *ngFor="let guess of round.guesses; let j = index">
          <ng-template #letter>
            <div
              class="letter"
              aria-live="polite"
              aria-roledescription="tile"
              [attr.aria-label]="guess.letter || 'empty'"
              [class]="{
                guessed: guess.letter,
                almost: guess.isInAnswer && !guess.isCorrectlyPlaced,
                correct: guess.isCorrectlyPlaced,
                incorrect:
                  guess.letter && !guess.isCorrectlyPlaced && !guess.isInAnswer
              }"
            >
              <span class="users-guess">{{ guess.letter }}</span>
            </div>
          </ng-template>

          <div
            class="flip-tile"
            [class]="{
              active: guess.isNextTurn,
              'delay-trans': j == 0 && !round.hasRoundStarted
            }"
          >
            <div
              class="flip-tile-inner"
              [@flipTile]="round.isRoundComplete ? 'flipped' : ''"
            >
              <div class="flip-tile-front">
                <ng-container *ngTemplateOutlet="letter"></ng-container>
              </div>
              <div class="flip-tile-back">
                <ng-container *ngTemplateOutlet="letter"></ng-container>
              </div>
            </div>
          </div>
        </ng-container>
      </div>
    </ng-container>
    <div *ngIf="gameOver" [@newGame]="gameWon" class="controls">
      <button
        @newGameBtn
        autoFocus
        type="button"
        (click)="newGame()"
        class="btn-new-game"
        tabindex="0"
      >
        New Game
      </button>
    </div>
  </div>

  <app-keyboard
    class="keyboard"
    (keyPress)="updateGuess($event)"
    [usedKeys]="playedTiles"
  ></app-keyboard>
</div>
