<button
  type="button"
  (click)="pressed()"
  class="key"
  tabindex="0"
  [attr.aria-label]="isBackspace ? key.value : ''"
  [class]="{
    'key-backspace': isBackspace,
    correct: key.isCorrect,
    almost: key.isInAnswer && !key.isCorrect,
    incorrect: !key.isInAnswer && !key.isCorrect && key.wasUsed
  }"
>
  <ng-container *ngIf="isBackspace; else character">
    <svg
      xmlns="http://www.w3.org/2000/svg"
      xml:space="preserve"
      class="backspace"
      fill="currentColor"
      style="enable-background: new 0 0 44.18 44.18"
      viewBox="0 5.09 44.18 34"
    >
      <path
        d="M10.625 5.09 0 22.09l10.625 17H44.18v-34H10.625zm31.555 32H11.734l-9.375-15 9.375-15H42.18v30z"
      ></path>
      <path
        d="m18.887 30.797 7.293-7.293 7.293 7.293 1.414-1.414-7.293-7.293 7.293-7.293-1.414-1.414-7.293 7.293-7.293-7.293-1.414 1.414 7.293 7.293-7.293 7.293z"
      ></path>
    </svg>
  </ng-container>
  <ng-template #character>{{ key.value }}</ng-template>
</button>
