@import "vars";

.key {
  color: $color-font-base;
  text-transform: uppercase;
  user-select: none;
  padding: 12px;
  border-radius: 6px;
  border-color: transparent;
  margin: 0 5px;
  -webkit-tap-highlight-color: $tap-outline;
  transition: background 0.25s;
  transition-delay: 1s;
  cursor: pointer;

  &:active {
    margin-top: -7px;
  }

  &:focus,
  &:focus-visible {
    outline: 2px solid $outline-focus;
  }

  &-backspace {
    padding: 11px 7px 7px 4px;
  }

  &.incorrect {
    background: $tile-incorrect;
  }

  &.almost {
    background: $tile-partially-correct;
  }

  &.correct {
    background: $tile-correct;
  }

  @media (max-width: $screen-max-width) {
    padding: 8px;
    font-size: 14px;

    &.key-backspace {
      padding: 8px 4px 4px 1px;
    }
  }

  @media (max-width: $xs-screen-width) {
    padding: 6px;

    &.key-backspace {
      padding: 8px 4px 4px 2px;
    }
  }
}

.backspace {
  width: 24px;

  @media (max-width: $xs-screen-width) {
    width: 16px;
  }
}
