@import "vars";

.keyboard-container {
  display: flex;
  justify-content: center;
  padding: 5px 5px 1vh 5px;
}

.keyboard {
  width: $container-max-width;
}

.key-row {
  display: flex;
  justify-content: center;
  margin: 0 auto 8px;
  touch-action: manipulation;
  width: 100%;

  &:last-of-type {
    margin-bottom: 1vh;
  }
}

.btn {
  display: flex;
  flex: 1;
  margin-right: 6px;

  &:last-of-type {
    margin-right: 0;
  }
}

.btn-backspace {
  flex: 1.5;
}

.btn-submit {
  flex: 0.5;
}

.flex-spacer {
  flex: 0.5;
}

/*
* To add a 'hint' button to the final row, but maintain 
* centering of the Submit buttom we add a spacer on the
* far side of the submit button that is the same width
* as the 'hint' button. This pushes the Submit button
* back equal ammounts from the right, restoring center.
*/
.btn-hint,
.flex-spacer-small {
  flex: 0.1;
  margin-right: 20px;
}
