// colors
$color-black: #000;
$color-github: #24292f;
$color-green: #66bb6a;
$color-grey-100: #c4c4c43b;
$color-grey-200: #ced1d4;
$color-grey-300: #c4c4c4;
$color-grey-400: #babfc0;
$color-grey-500: #959595;
$color-grey-600: #7c7c7c;
$color-grey-900: #242424;
$color-light-blue: #2f96b4;
$color-purple: #6864aa;
$color-red: #c3423f;
$color-tap: fade-out($color-black, 0.7);
$color-white: #fff;
$color-orange: #ff9800;

$color-absent: $color-grey-500;
$color-correct: $color-green;
$color-present: $color-orange;

$color-rotation-lock: $color-grey-500;

// fonts
$base-font-size: 16px;
$brand-font-family: "Yellowtail", cursive;

// breakppints/widths
$container-max-width: 436px;
$rotation-lock-width: 1000px;
$xs-screen-width: 425px;

// z-index
$modal-z-index: 120;
$rotation-lock-z-index: 1000;
$side-nav-overlay-z-index: 105;
$side-nav-z-index: 110;
$toastr-z-index: 100;

$border-radius: 6px;
$box-shadow: 0 3px 3px -3px fade-out($color-black, 0.25);
$btn-close-border-radius: 14px;
$btn-height-fixed: 50px;
$btn-height-fluid: 6vh;
